.user {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 2px solid dodgerblue;
    border-radius: 30px;
    margin-bottom: 25px;
    padding: 25px;
    width: 48%;

    .profile-pic img {
        display: flex;
        border-radius: 70px;
        border: 4px solid crimson;
    }

    .user-details {
        font-size: 25px;
        color: dodgerblue;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
    }

    .cta {
        .remove-user {
            display: flex;
            border: 2px solid black;
            border-radius: 25px;
            background-color: crimson;
            color: white;
            font-weight: 900;
            cursor: pointer;
        }
    }
}